[Desktop Entry]
Name=Espanso
Comment=Cross-platform text expander
Exec=/usr/bin/espanso cmd search
Icon=espanso
Terminal=false
Type=Application
Categories=Utility;TextTools;
Keywords=text;expander;snippet;

Actions=toggle;restart;

[Desktop Action toggle]
Name=Toggle Espanso
Exec=/usr/bin/espanso cmd toggle

[Desktop Action restart]
Name=Restart Espanso
Exec=/usr/bin/espanso service restart
