[Desktop Entry]
Type=Application
Name=Backup Status Indicator
Exec={{ ansible_facts.env.HOME }}/.local/bin/backup-tray-indicator
Icon=drive-harddisk
Comment=System tray indicator for restic backup status
Terminal=false
X-GNOME-Autostart-enabled=true
